<h1>How would you like to make a reservation?</h1>
<br>
<div style="width:500px; margin:auto">
  <div style="float:right; text-align:center; margin:auto;">
    <h2>By Category:</h2><br>
    <% category_arr = Category.all.map { |c| [c.name, c.id] } %>

    <%= form_tag(restaurants_by_category_path, method: "GET", :remote => true) do %>
      <%= select_tag "category_choices", options_for_select(category_arr) %>
      <%= submit_tag "Submit" %>
    <% end %>
  </div>

  <div style="float:left; text-align:center; margin:auto;">
    <h2>By City:</h2><br>
    <% neighbourhood_arr = Restaurant.all.map { |c| [c.neighbourhood, c.neighbourhood] } %>
    <% neighbourhood_arr.uniq! %>

    <%= select_tag "neighbourhood_choices", options_for_select(neighbourhood_arr) %>
    <%= submit_tag "Submit", :id => "neighbourhood_choices_submit", "data-url" => restaurants_by_neighbourhood_path %>
  </div>

  <div style="float:left; text-align:center; margin:auto;">
    <h2>By Time:</h2><br>
    <%= form_tag(restaurants_path, method: "GET") do %>
      <%= datetime_select :user_time_choices, "time_slot", :ampm => true, :minute_step => 30 %>
      <%= submit_tag "Submit" %>
    <% end %>
  </div>
</div>

<br><br>
<div style="clear:both">
      Filtered by <span id="filter_title"><%= @filter_title %></span>

  <div class="Resto_container"> 
    <%= render :partial => 'restaurant', :object => @restaurants %>
  </div>
</div>